<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tx.dao.AlbumMapper">
  <!-- 基础结果映射 -->
  <resultMap id="BaseResultMap" type="cn.tx.model.Album">
    <id column="AID" jdbcType="INTEGER" property="aid" />
    <result column="ANAME" jdbcType="VARCHAR" property="aname" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
    <result column="PDATE" jdbcType="DATE" property="pdate" />
    <result column="LANG" jdbcType="VARCHAR" property="lang" />
  </resultMap>

  <!-- 基础字段列表 -->
  <sql id="Base_Column_List">
    AID, ANAME, PIC, COMPANY, PDATE, LANG
  </sql>

  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from album
    where AID = #{aid,jdbcType=INTEGER}
  </select>

  <!-- 根据主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from album
    where AID = #{aid,jdbcType=INTEGER}
  </delete>

  <!-- 全字段插入 -->
  <insert id="insert" parameterType="cn.tx.model.Album">
    insert into album (AID, ANAME, PIC,
                       COMPANY, PDATE, LANG)
    values (#{aid,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
            #{company,jdbcType=VARCHAR}, #{pdate,jdbcType=DATE}, #{lang,jdbcType=VARCHAR})
  </insert>

  <!-- 非空字段插入 -->
  <insert id="insertSelective" parameterType="cn.tx.model.Album">
    insert into album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">AID,</if>
      <if test="aname != null">ANAME,</if>
      <if test="pic != null">PIC,</if>
      <if test="company != null">COMPANY,</if>
      <if test="pdate != null">PDATE,</if>
      <if test="lang != null">LANG,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">#{aid,jdbcType=INTEGER},</if>
      <if test="aname != null">#{aname,jdbcType=VARCHAR},</if>
      <if test="pic != null">#{pic,jdbcType=VARCHAR},</if>
      <if test="company != null">#{company,jdbcType=VARCHAR},</if>
      <if test="pdate != null">#{pdate,jdbcType=DATE},</if>
      <if test="lang != null">#{lang,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <!-- 非空字段更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="cn.tx.model.Album">
    update album
    <set>
      <if test="aname != null">ANAME = #{aname,jdbcType=VARCHAR},</if>
      <if test="pic != null">PIC = #{pic,jdbcType=VARCHAR},</if>
      <if test="company != null">COMPANY = #{company,jdbcType=VARCHAR},</if>
      <if test="pdate != null">PDATE = #{pdate,jdbcType=DATE},</if>
      <if test="lang != null">LANG = #{lang,jdbcType=VARCHAR},</if>
    </set>
    where AID = #{aid,jdbcType=INTEGER}
  </update>

  <!-- 全字段更新 -->
  <update id="updateByPrimaryKey" parameterType="cn.tx.model.Album">
    update album
    set ANAME = #{aname,jdbcType=VARCHAR},
        PIC = #{pic,jdbcType=VARCHAR},
        COMPANY = #{company,jdbcType=VARCHAR},
        PDATE = #{pdate,jdbcType=DATE},
        LANG = #{lang,jdbcType=VARCHAR}
    where AID = #{aid,jdbcType=INTEGER}
  </update>


  <select id="selectByPage" parameterType="cn.tx.query.AlbumQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from album t
    <where>
      <if test="aname != null and aname != ''">
        t.aname like '%${aname}%'
      </if>
      <if test="company != null and company != ''" >
        and t.company like '%${company}%'
      </if>
      <if test="pdate != null">
        and t.pdate > #{pdate}
      </if>
      <if test="lang != null and lang != ''">
        and t.lang like '%${lang}%'
      </if>
    </where>
    limit #{startNum},#{pageSize}
  </select>

  <select id="selectCount" parameterType="cn.tx.query.AlbumQuery" resultType="java.lang.Integer">
    select
    count(*)
    from album t
    <where>
      <if test="aname != null and aname != ''">
        t.aname like '%${aname}%'
      </if>
      <if test="company != null and company != ''" >
        and t.company like '%${company}%'
      </if>
      <if test="pdate != null">
        and t.pdate > #{pdate}
      </if>
      <if test="lang != null and lang != ''">
        and t.lang like '%${lang}%'
      </if>
    </where>
  </select>

  <select id="selectByName" parameterType="cn.tx.model.Album" resultMap="BaseResultMap">
  select *
  from album
  <where>
    <if test="aname != null and aname != ''">
      aname = #{aname}
    </if>
  </where>
  </select>

  <select id="selectAll" resultType="cn.tx.model.Album">
    SELECT * FROM album
  </select>

</mapper>